<br>
<div><h1 class="text-center font-weight-bold">Employee's List</h1></div>
<!-- <div class="alert alert-info" role="alert">
Total Number of Records : {{count.count}}
</div> 
<div class="search-hero topnav">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
  </div> -->

<br>


  <div class="search-hero topnav float-right">
    <select [(ngModel)]="searchText" name="searchText">
      <option value="">All Details</option>
      <option value="Java">Java</option>
      <option value="Devops" >Devops</option>
      <option value="Dot Net">Dot Net</option>
      <option value="Data">Data</option>
    </select>
  </div>
<br>&nbsp; 

<div class="table-responsive">
<table class ="table table-bordered table-hover" id="excel" #table>
    <thead class="thead-dark">
        <tr>
            <!-- <th>--</th> -->
            <th>Emp.ID</th>
            <th>Name</th>
            <!-- <th>Last Name</th> -->
            <th>Email Id</th>
            <!-- <th>Mobile</th> -->
            <th>Role</th>
            <!-- <th>DOB</th>
            <th>Address</th> -->
            <th>Operations</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        <tr *ngFor="let employee of employees | filter:searchText">
            <!-- <td><div class="form-check">
                <input class="form-check-input" type="checkbox" value="select" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" [ngModel]="employee.id" (change)="this.getCountEmployees();">
                </label>
              </div></td> -->
            <td>{{employee.id}}</td>
            <td>{{employee.fname}}</td>
            <!-- <td>{{employee.lname}}</td> -->
            <td><p><a href="mailto:{{employee.mail}}">{{employee.mail}}</a></p></td>
            <!-- <td>{{employee.mobile}}</td> -->
            <td>{{employee.role}}</td>
            <!-- <td>{{employee.dob}}</td>
            <td>{{employee.address}}</td> -->
            
            <td>
                <button (click)="sweetAlert(employee.id)" class = "btn btn-success" data-toggle="modal" data-target="#myModal">View</button>&nbsp;
                <button (click)="updateEmployee(employee.id)" class = "btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg></button>&nbsp;
                <button (click)="deleteEmployee(employee.id)" class = "btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg></button>
            </td>
        </tr>
    </tbody>
</table>
 <!-- <button class="btn btn-primary" (click)="exporttoexcel()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</svg></button>&nbsp;&nbsp;
<button (click)="delAll()" class = "btn btn-danger">Delete All</button> &nbsp;&nbsp; -->



