<div class="col-md-6 offset-md-3">
    <br>
    <h3> Update Password </h3>
    <form (ngSubmit) = "onClick()" #loginform="ngForm">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class ="form-control" id = "id"
            [(ngModel)] = "employee.username" name = "id"  required #id="ngModel" [class.is-invalid]="id.invalid && id.touched">
            <small class="text-danger" [class.d-none]="id.valid || id.untouched" >UserName Number is Required</small>
<br>
            <label> Password</label>
            <input type="password" class ="form-control" id = "password"
            [(ngModel)] = "employee.password" name = "password"  required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched" >Password Number is Required</small>
                
        </div>
        <button class = "btn btn-success" type ="submit" [disabled]="loginform.form.invalid">Submit</button>
        <br>
        <br>
        <br>
    
    </form>
    </div> 
